.DS_Store
node_modules

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

dist/
*.xlsx
*.spec
/.idea/
*/__pycache__
build/
/单打习惯性出手线路
/双打态势统计
/双打阶段统计
/双打默认统计
